body {
  background: linear-gradient(#43C6AC, #F8FFAE);
  font-family: helvetica;
}
.clPanel {
	border: solid;
	min-height: 100px;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	background: white;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 15px;
}

.clCard {
	border: solid;
	min-height: 60px;
	width: 60%;
	margin: auto;
	margin-top: 20px;
	background: white;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 15px;
}

.clButton {
	border: solid;
	min-height: 30px;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	background: white;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 15px;
}

#idLeft {
	border: solid;
	float: left;
	height: 400px;
	width: 45%;
	margin: auto;
	margin-top: 20px;
	background: white;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	overflow-y: scroll;
}

#idRight {
	border: solid;
	float: right;
	min-height: 400px;
	width: 45%;
	margin: auto;
	margin-top: 20px;
	background: white;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}